Source: ros-hydro-rqt-bag-plugins
Section: misc
Priority: extra
Maintainer: Aaron Blasdel <ablasdel@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/rqt_bag
Standards-Version: 3.9.2

Package: ros-hydro-rqt-bag-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-rosbag, ros-hydro-roslib, ros-hydro-rospy, ros-hydro-rqt-bag, ros-hydro-rqt-gui, ros-hydro-rqt-gui-py, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Description: rqt_bag provides a GUI plugin for displaying and replaying ROS bag files.
