Source: ros-groovy-rqt-bag
Section: misc
Priority: extra
Maintainer: Aaron Blasdel <ablasdel@gmail.com>
Build-Depends: debhelper (>= 7.0.0), ros-groovy-catkin
Homepage: http://ros.org/wiki/rqt_bag
Standards-Version: 3.9.2

Package: ros-groovy-rqt-bag
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-groovy-rosbag, ros-groovy-rosgraph-msgs, ros-groovy-roslib, ros-groovy-rospy, ros-groovy-rqt-gui (>= 0.2.12), ros-groovy-rqt-gui-py
Description: rqt_bag provides a GUI plugin for displaying and replaying ROS bag files.
